<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="www\vendor\autoload.php"
        colors="true"
        verbose="true"
        stopOnFailure="false">
    <testsuites>
        <testsuite name="Test suite">
            <directory>www/tests/Classes</directory>
        </testsuite>
    </testsuites>
    <php>
        <get name="url" value="listar"/>
    </php>
</phpunit>